.Category {
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  font-size: var(--size-300);
}

.Category a {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    color: inherit;
    padding: 0.2rem 0.6rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
  }

.Category a:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.CategoriesLabel {
  margin-right: 0.25rem;
  vertical-align: middle;
}
