.siteFooter {
    color: var(--colour-light);
    background-color: var(--colour-dark);
}

.siteFooter nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 2em;
    margin-top: 4em;
}

.siteFooter nav a {
    text-decoration: none;
    color: var(--colour-light);
    margin-right: 2em;
}

.siteFooter nav a:hover {
    text-decoration: underline;
}