.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
}

.project:last-child {
    margin-bottom: 2em;
}

.projectImage {
    min-width: 256px;
    max-height: 144px;
    margin: 0.5em 0.5em;
}

.projectInfo {
    display: flex;
    flex-direction: column;
}

.projectInfo h3 {
    margin-top: 1em;
}

hr {
    display: inherit;
}
hr:last-child {
    display: none;
}
   
@media all and (min-width: 800px) {
    .project {
        flex-direction: row;
    }
    hr {
        display: none;
    }
}