.SocialLinkList {
    padding: 0;
    list-style: none;
    display: flex;
}

.SocialLinkItem {
    margin-right: var(--size-400);
    text-transform: uppercase;
}

.SocialLinkItem a {
  color: inherit;
  font-size: var(--size-300);
}