---
layout: base.html
permalink: /blog/
title: BLOG // David Wesst
description: My technical thoughts on technical things I've done.
changefreq: weekly
---
<h1>
    Blog (<a href="/blog/feed.xml">RSS/Atom</a>)
</h1>
<menu class="content-list" >
    {%- for post in collections.blog reversed -%}
    <li>
        <a href="{{ post.url | url }}">
            <div>{{ post.data.title }}</div>
        </a>
        <date class="publishDate"
            datetime={{ page.date  }}
            >
            {{ post.date | date: "%B %d, %Y" }}
        </date>
        <ul class="tags">
        {% for t in post.data.tags %}
			{% if t != 'blog' %}
            <li>{{ t }}</li>
			{% endif %}
        {% endfor %}
        </ul>
    </li>
    {%- endfor -%}
</menu>
