:root {
    --font-family: monospace;
    --background-colour: rgb(240, 240, 240);
    --foreground-colour: rgb(10, 10, 10);
}

html,
body
{
    font-family: var(--font-family);
    background-color: var(--background-colour);
    color: var(--foreground-colour);
}

/*
    Images
*/
.featured-image {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.featured-image-small {
    width: 160px;
    height: 90px;
    aspect-ratio: 16 / 9;
    object-fit: scale-down;
}

.featured-image-header {
    width: 100%;
    height: auto;
    object-fit: fill;
}