---
title: "Blog"
layout: base
eleventyNavigation:
    key: Blog
    title: "/blog"
    parent: "Home"
---
<header>
    <h1>Blog</h1>
</header>
<main>
This is where the blog listing goes.

{% set posts = collections.blog %}
{%- for post in posts | reverse -%}
<ul>
    <li>
        <a href={{ post.url | url }}>{{ post.data.title }}</a>
    </li>
</ul>
{%- endfor -%}

</main>
