---
layout: "layouts/page.njk"
title: "Home"
---
<header>
    <h1>David Wesst (he/him)</h1>
</header>
<main>
    {% include "partials/site-nav.njk" %}
    <section>
        <h2>Who is David Wesst?</h2>
        <article>
            I am a lot of things, but if I had to choose some specifics things that make me...me, I would say:
            <ul>
                <li>A problem solver, "fixer" of things, or facilitator other humans.</li>
                <li>A communicator that takes form of an empathtic listener, public speaker, and appreciates the weight words can have.</li>
                <li>A curious technologist, that is always exploring new ideas.</li>
                <li>A generative person always trying to make something, either out of code or himself</li>
                <li>An invested parent of two daughters with a partner of 16 years.</li>
                <li>A video game ethusiast who believes it is the best form of media</li>
            </ul>
        </article>
    </section>
    <section>
        <h2>What does David Wesst do?</h2>
        <article>
            A lot, but it always seems to involve software development. I love it. It's my canvas. It's my science lab. It's my soapbox.
        </article>
    </section>
    <section>
        <h2>Where is David Wesst?</h2>
        <article>
            <p>I am based out of Winnipeg, Manitoba, Canada. Generally, I am pretty easy to find online on any of these social platforms</p>
            {% include "partials/social-nav.njk" %}
        </article>
    </section>
    <section>
        <h2>When is David Wesst around?</h2>
        <article>
            More about my livestreams and LIVE talks coming soon.
        </article>
    </section>
</main>