:root {
    --background: rgb(250, 250, 250);
    --foreground: rgb(20, 20, 20);
    --mainFont: sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--mainFont);
} 